// place your custom styles here
blockquote {
  border-color: #4400ff;
  background-color: #d3c8f6;
  color: #343333;
  transition: border-color var(--color-transition), color var(--color-transition);
}

basic {
  background-color: red !important;
}

label-container{
  background-color: red !important;
}

nodeLabel {
  color : white !important;
}
